.nav--icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.navbar {
  display: flex;
  background-color: #f55a5a;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  padding: 0 50px 0 50px;
  margin: 20px auto;
}

.article--image {
  width: 500px;
  border-radius: 10px;
}
